
<div class="center hero-unit">
  <h1>Perforchestor</h1>

  <h2>This is the home page for <a href="http://perforchestor.com/">Perforchestor.</a></h2>
  
  <p>We are still working on our 1st release.</p>

  <%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>
</div>

<%= link_to image_tag("Perforchestor_Logo.png", alt: "Perforchestor Logo"), '/' %>